*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    
}
:root{
    --bg-color: bisque;
    --main-color: red;
    --text-color: #010101;
    --2nd-color: #434343;
    --other-color: black;
    --big-font: 1.3rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;


}
body{
    color: var(--text-color);
    background: var(--bg-color);

}
header{
   position: fixed;
   right: 0;
   top: 0;
   width: 100%;
   z-index: 700;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background: transparent;
   padding: 11px 11%;
   margin-left: 80px;
   transition: all .45s ease;
}
.logo img {
     
    width: 100%;
    height: auto; 
    margin-right: 400px;  
}
.navigation {
    display: flex;

}
.navigation a{

    font-size: var(--p-font);
    color: var(--other-color);
    text-decoration: none;
    font-weight: 500;
   padding: 10px 30px;
   margin: 0 20px;
   background: greenyellow;
   border-radius: 25px;
   transition: all .45s ease;  
   margin-left: 75px;
}
.navigation a:hover {

    background: white;
}
.icons{
    display: flex;
    align-items: center;
  
  }
  .icons i{
      height: 50px;
      width: 50px;
      background: white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--other-color);
      font-size: 22px;
      margin-right: 25px;
      margin-left: 10px;
      transition: all .45s ease;
  }
  .icons i:hover{
      transform: translateY(-4px);
      color: red;
  }
  #menu-icon{
    color: var(--other-color);
    font-size: 33px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 100px 11% 90px;
}
.container {
    height: 100vh;
    width: 100%;
    background-image: url(back8.jpeg);
    background-size: cover;
    position: relative;
    background-color: Aqua;
    display: flex;
    align-items: center;
   
}

.Blog h2{
    
        font-size: 70px;
        color: var(--text-color);
        font-weight: 600;
   
}
.content {
    font-size: 20px;
    color: black;
    font-weight: 100;


}
.cta{
    background: url(back4.jpeg);
    height: 70vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cta-text{
    max-width: 560px;
    margin-left: 120px;
}
.cta-text .logo img{
    width: 300px;
    height: auto;
    margin-bottom: 1.5rem;

}
.cta-text h3{
    font-size: 3.3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: whitesmoke;

}
.cta-text p{
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: 500;
    margin-bottom: 2.5rem;

}
.btn{
    display: inline-block;
    padding: 16px 30px;
    background : goldenrod;
    color: var(--other-color);
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500px;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all .45s ease;
    cursor: pointer;

}
.btn:hover{
    background: lightblue;
    letter-spacing: 2px;
    opacity: 0.8;

}


.contact{
    padding: 50px 11% 40px;
}
.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 2rem;
    align-items: center;

}

.contact-content h5{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.contact-content li{
    margin-bottom: 12px;
}
.contact-content li a{
    display: block;
    font-size: 20px;
    color: var(--other-color);
    font-weight: 400;
    transition: all .45s ease;
}
.contact-content li a:hover{
    color: var(--text-color);
    transform: translateX(-5px);
}
.end-text p{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--other-color);


}



